<div class="p-6">
  <form [formGroup]="olympCrudForm">
    <p-stepper [value]="1" class="basis-[50rem]">
      <p-step-list>
        <p-step [value]="1">{{ "main_setting_olym" }}</p-step>
        <p-step [value]="2">{{ "date_and_other" }}</p-step>
        <p-step [value]="3">{{ "stages" }}</p-step>
      </p-step-list>
      <p-step-panels>
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <section class="container_section">
              <app-name-and-description></app-name-and-description>
            </section>
          </ng-template>
        </p-step-panel>
        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback">
            <section class="container_section">
              <app-date-form></app-date-form>
              <app-select-info></app-select-info>
            </section>
          </ng-template>
        </p-step-panel>
        <p-step-panel [value]="3">
          <ng-template #content let-activateCallback="activateCallback">
            <section formArrayName="stages">
              @for (item of olympCrudForm.controls.stages['controls']; track
              $index) {
              <div [formGroup]="$any(item)">
                <p-avatar
                  [label]="$index + 1 + ''"
                  class="mr-2"
                  size="large"
                  shape="circle"
                />
                <div class="container_section my-3">
                  <button
                    class="w-full flex justify-end mb-3"
                    (click)="removeStage($index)"
                  >
                    <i class="pi pi-times-circle text-red-600 !text-[25px]"></i>
                  </button>
                  <app-name-and-description></app-name-and-description>
                  <app-date-form></app-date-form>
                </div>
              </div>
              }
              <p-button
                [icon]="'pi pi-plus'"
                [label]="'add_stage'"
                (onClick)="addStage()"
              ></p-button>
            </section>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
    <div class="w-full flex justify-end">
      <p-button [disabled]="olympCrudForm.invalid">{{
        "Confirm_to_save"
      }}</p-button>
    </div>
  </form>
</div>
